@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;

  color: white;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items {
  display: flex;
  font-size: large;
  font-weight: 300;
  touch-action: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}
.two{
  background-color: #ECE3F0;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
/* CSS for main element */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("nt5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.intro h1 {
  font-family: sans-serif;
  font-size: 60px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.intro p {
  font-size: 20px;
  color: #d1d1d1;
  text-transform: uppercase;
  margin: 20px 0;
}

.intro button {
  background-color: #5edaf0;
  color: #000;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
}

.achievements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 80px;
}

.achievements .work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.achievements .work i {
  width: fit-content;
  font-size: 50px;
  color: #333333;
  border-radius: 50%;
  border: 2px solid #333333;
  padding: 12px;
}

.achievements .work .work-heading {
  font-size: 20px;
  color: #333333;
  text-transform: uppercase;
  margin: 10px 0;
}

.achievements .work .work-text {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin: 0;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
}

/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EEEDE7;
  padding: 40px 80px;
}

.footer .copy {
  color: black;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}

/* dropdown */

.dropdown {
   position: relative;
   display: inline-block;
}

/* Dropdown button */
.dropdown .nav-link {
   font-size: 18px;
   color: #333;
   text-decoration: none;
   display: block;
   padding: 10px 40px 10px 20px; /* Added space for dropdown symbol */
   background-color: #f4f4f4;
   border-radius: 5px;
   transition: background-color 0.3s;
   position: relative; /* Added position relative for dropdown symbol */
}

/* Dropdown button hover effect */
.dropdown .nav-link:hover {
   background-color: maroon;
}

/* Dropdown content */
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   z-index: 1;
   border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
   color: #333;
   align-items: center;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   transition: background-color 0.3s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
   background-color: #d13b3b;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   display: block;
}

/* Dropdown symbol */
.dropdown .drop-symbol {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
}
/* contact */

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  
}

form {
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: lighter;
  
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.sai{
  color: royalblue;
}

#response {
  margin-top: 20px;
  font-weight: bold;
}
/* youtube video */
.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500;
  height: 800;
}

.video-container {
  width: 700%; /* Adjust as needed */
  height:600% ;
  margin: 80px;
}

 
.vcontainer {
  width: 800%; /* Adjust as needed */
  height:700% ;
  margin: 50px;
}

 

